<html>
	<head>
		<script type="text/javascript" src="vue.js"></script>
	</head>
	<body>
		<div id="app">
			<button v-if="!isGameStarted" @click="startGame">Start Game</button>
			<div v-else>
				<div>
					please, resolve the expression:
					{{expression}} = 
					<!--{{expressionResult}}-->
					<br/>
					time to resolve:
					{{printableCurrentTimeToAnswer}}
				</div>
				<input type="number" v-model="userAnswer" @keydown="submitAnswer"/>
			</div>
			<table v-if="history.length>0">
				<thead>
					<th>expression</th>
					<th>user answer</th>
					<th>right answer</th>
				</thead>
				<tbody>
					<tr v-for="item in history">
						<td>{{item.expression}}</td>
						<td>{{item.userAnswer}}</td>
						<td>{{item.rightAnswer}}</td>
					</tr>
				</tbody>
			</table>
			<div>
				Results:
				{{totalPoints}}
			</div>
		</div>
	</body>
</html>

<script type="text/javascript">
	var app = new Vue({
		el: '#app',
	    data: {
			isGameStarted: false,
			expression: '',
			userAnswer: '',
			timeToAnswer: 5000,
			history: [],
			roundNumber: 0,
			globalTimer: null,
			globalTimerInterval: 100,
			applicationTime: 0,
			currentTimeToAnswer: 0,
			maxRound: 5,
	    },
		mounted(){
			
		},
		methods: {
			submitAnswer(e){
				if (e.key == "Enter") {
					this.endRound();
					
				}
			},
			startGame(){
				this.history = [];
				this.roundNumber = 0;
				this.applicationTime = 0;
				this.isGameStarted = true;
				this.endRound();
				this.startGlobalTimer();
			},
			stopGame(){
				this.isGameStarted = false;
				clearInterval(this.globalTimer);
			},
			startGlobalTimer(){
				this.globalTimer = setInterval(this.onNextGlobalTimerTick, this.globalTimerInterval);
			},
			onNextGlobalTimerTick(){
				this.applicationTime += this.globalTimerInterval;
				this.currentTimeToAnswer -= this.globalTimerInterval;
				if (this.currentTimeToAnswer <= 0){
					this.endRound();
				}
			},
			startRound(){
				this.roundNumber++;
				this.currentTimeToAnswer = this.timeToAnswer;
				this.userAnswer = '';
				if (this.roundNumber>this.maxRound){
					this.stopGame();
				}
				this.expression = this.getNewExpression();
			},
			endRound(){
				if (this.roundNumber>0) {
					let historyElement = {
						expression: this.expression,
						userAnswer: this.userAnswer,
						rightAnswer: this.expressionResult,
						isRightAnswer: this.isRightAnswer,
					} 
					this.history.push(historyElement);
				};
				
				this.startRound();
			},
			getNewExpression(){
				let firstNumber = this.getRandomInt(100);
				let secondNumber = this.getRandomInt(100);
				let sign = this.getRandomSign();
				let expression = ''+firstNumber+' '+sign+' '+secondNumber;
				return expression;
			},
			getRandomInt(max) {
			  return Math.floor(Math.random() * max);
			},
			getRandomSign(){
				let key = this.getRandomInt(3)+1;
				switch(key){
					case 1: 
						return '+';
					case 2:
						return '-';
					case 3:
						return '*';
					default: break;
				}
			}
		},
		computed: {
			printableCurrentTimeToAnswer(){
				return this.currentTimeToAnswer / 1000
			},
			expressionResult(){
				return eval(this.expression);
			},
			isRightAnswer(){
				if (this.userAnswer == this.expressionResult) {return true }else return false;
			},
			totalPoints(){
				let sum = 0;
				this.history.forEach(x => {
					sum += x.isRightAnswer;
				});
				return sum;
			}
		}
	});
</script>